{% macro displayContent(items) %}
  {% for item in items %}
    <details id="{{ item.page.fileSlug }}" class="mt-2">
      <summary>
        <h3 class="inline pl-1">{{ item.data.title }}</h3>
      </summary>
      <div class="ml-4">
        {{ item.templateContent | safe }}
      </div>
    </details>
  {% endfor %}
{% endmacro %}