{% macro displayContent(items) %}
  {% for item in items %}
      <details id="{{ item.page.fileSlug }}">
        <summary>{{ item.data.title }}</summary>
        <div>
          {{ item.templateContent | safe }}
        </div>
    </details>
  {% endfor %}
{% endmacro %}