---
eleventyExcludeFromCollections: true
layout: layouts/base.njk
permalink: /404.html
title: Ooooops
---

<div class="content page pt-4">
    <p>I searched everywhere, honestly! But I can't find the page you are looking for. Please pick another page from the list on the left.</p>
    <img src="/assets/images/404.png" alt="Sad panda can't find this page" />
</div>
