---
layout: layouts/page.njk
title: Lectures
---

{% import "macros/collapsible.njk" as collapsible %}

<p>
  <strong>Note:</strong> "Introduction to..." lectures can be expanded into full courses.
</p>

<h2>General audience lectures:</h2>

{{ collapsible.displayContent(collections.lecture_general) }}

<h2>Architecture and design lectures:</h2>

{{ collapsible.displayContent(collections.lecture_architecture) }}

<h2>Software developmment and programming lectures:</h2>

{{ collapsible.displayContent(collections.lecture_programming) }}

 
<!--
TODO:

סדנאות מהרשימה שאני יכול להעביר:
•	העצמה אישית
•	ליווי לבניית קריירה

נושאים נוספים:
•	ליווי קריירה (מיקוד):
o	למחפשי עבודה
o	למתחילים עבודה חדשה
o	לעובדים שרוצים להתקדם/להתמקצע
•	טעימות שפות תכנות: מיועד למי שמכיר כבר שפה אחת לפחות ומעוניין להכיר עוד כמה: Python, C#, Java, JS, (C++?) (נדלג על C ואסמבלי ברשותך)



Development lectures:
- Introduction to automated testing [actually two lectures for two target audiences: Developers and QA]

Ask ChatGPT for more ideas!

Summary structure:

Title
Instructions: The title should be expressive and catchy - some kind of an initial teaser.

Abstract
Instructions: The abstract is 1-3 paragraph long session description (some of you liked the analogy of being the presentation "elevator pitch"), which should answer the following: 
0.	What is the problem/challenge/issue you're addressing?
1.	What is the presented solution/concept?
2.	What content will you present?
3.	Who is the target audience? (if relevant)
4.	What's in it for me?

-->

<p>
  Can't find what you're looking for? <a href="mailto:{{ siteconfig.email }}?subject=Your lectures" target="_blank">Contact</a> me and I'll create a lecture especially for you!
</p>