---
layout: layouts/page.njk
title: Lectures
---

{% import "macros/collapsible.njk" as collapsible %}

<p>
  <strong>Note:</strong> "Introduction to..." lectures can be expanded into full courses.
</p>

<h2>General audience lectures:</h2>

{{ collapsible.displayContent(collections.lecture_general) }}

<h2>Architecture and design lectures:</h2>

{{ collapsible.displayContent(collections.lecture_architecture) }}

<h2>Software developmment and programming lectures:</h2>

{{ collapsible.displayContent(collections.lecture_programming) }}

<p>
  Can't find what you're looking for? <a href="mailto:{{ siteconfig.email }}?subject=Your lectures" target="_blank">Contact</a> me and I'll create a lecture especially for you!
</p>