---
layout: layouts/page.njk
title: Courses
---

<p>
  <strong>Note:</strong> Courses can be split, merged, and tailor-made. Challenge me!
</p>

{% import "macros/collapsible.njk" as collapsible %}

<h2>Career courses:</h2>
{{ collapsible.displayContent(collections.course_career) }}

<h2>Architecture and design courses:</h2>
{{ collapsible.displayContent(collections.course_architecture) }}

<h2>Programming courses:</h2>
{{ collapsible.displayContent(collections.course_programming) }}

<h3>C#</h3>
{{ collapsible.displayContent(collections.course_programming_csharp) }}

<h3>Java</h3>
{{ collapsible.displayContent(collections.course_programming_java) }}

<h3>C++</h3>
{{ collapsible.displayContent(collections.course_programming_cpp) }}
 
<!--
TODO:

"C:\Data\Docs\Projects\Course ideas\Courses for hitech companies.docx"

Programming:
- Automated back-end testing


Ask ChatGPT for more ideas!

Summary structure:

Title
Instructions: The title should be expressive and catchy - some kind of an initial teaser.

Abstract
Instructions: The abstract is 1-3 paragraph long session description (some of you liked the analogy of being the presentation "elevator pitch"), which should answer the following: 
0.	What is the problem/challenge/issue you're addressing?
1.	What is the presented solution/concept?
2.	What content will you present?
3.	Who is the target audience? (if relevant)
4.	What's in it for me?

-->

<section class="mt-8 pt-4 border-t-1">
  Can't find what you're looking for? <a href="mailto:{{ siteconfig.email }}?subject=Your courses" target="_blank">Contact</a> me and I'll create a course especially for you!
</section>